In [4]:
import numpy as np
import pandas as pd
import seaborn as sns

In [8]:
df_iris = sns.load_dataset("iris")

In [25]:
df_iris.head(3).T

                   0       1       2
sepal_length     5.1     4.9     4.7
sepal_width      3.5       3     3.2
petal_length     1.4     1.4     1.3
petal_width      0.2     0.2     0.2
species       setosa  setosa  setosa